.header {
  z-index: 3;
  .header__nav{
    .logo,
    .header__login{
      display: none;
    }
  }
  &__btn{
    .header__phone-svg{
      display: none;
    }
  }
  &.fixed{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.11);
    & + .main{
      margin-top: 143px;
    }
    .header__nav-wrapper{
      display: none;
    }

    .header__in {
      .header__login-text {
        display: none;
      }

    }
  }
}

.header__toggle-btn {
  display: none;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 80px 10px 15px;
  background-color: #324a67;
}

.header__login, 
.header__phone{
  display: inline-block;
}

.header__in .header__login {
  display: none;
}

.header__logined {
  display: none;
}

.header__in .header__logined {
  display: flex;
  align-items: center;
  margin-left: 30px;
  .header__login-avatar--show {
    display: block;
  }
}

.header__phone {
  &-svg {
    fill: #fff;
    display: flex;
  }
}

.header__tel-items{
  line-height: 0;
}

.header__login {
  margin-left: 20px;
  display: flex;
  align-items: center;
  &-svg1 {
    fill: #fff;
  }
}

.header__phone-text,  
.header__login-svg-desc {
  display: none;
}

.header__button {
  display: none;
}
.header__login-name{
  display: none;
}
.header__phone--nav {
  display: none;
}
.header__nav .header__btn {
  display: none;
}

.header__nav-main {
  display: flex;
  flex-wrap: wrap;
}
.header__nav-main-link,
.header__nav-additional-link {
  padding-left: 15px;
  cursor: pointer;
}
.header__nav-main-item {
  width: 50%;
  font-family: 'cuprumbold', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 43px;
  color: #fff;

  background-color: @blue-bg;

  &:first-child,
  &:nth-child(2){
    border-bottom: rgba(254, 238, 126, .05) 1px solid;
  }
  &:first-child,
  &:nth-child(3){
    border-right: rgba(254, 238, 126, .05) 1px solid;
  }

}

.header__nav-additional {
  display: none;
}

.header__nav-main-link,
.header__nav-additional-link {
  display: block;
  white-space: nowrap;
  color: inherit;

  &:hover {
    background-color: #48667f;
    color: @yellow-color;
  }

  &:active {
    background-color: #466d7f;
    color: #fedc04;
  }
}

.header__nav-additional-item{
  font-family: 'Cuprum', 'Arial', sans-serif;
}

.header__login-avatar {
  width: 36px;
  height: 36px;
  background-color: @lighter-grey;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__nav .header__logined {
  display: none;
}
.header__login-avatar--show {
  display: none;
}

.header.fixed .header__in {
  // .header__login-avatar--show {
  //   display: block;
  //   width: 36px;
  //   height: 36px;
  //   padding-left: 0;
  // }
  .header__login-svg {
    display: none;
  }
}
.header__login-text{
  display: none;
}
@media (min-width: @tabletWidth)  {

  .header{
    &.fixed{
      & + .main{
        margin-top: 144px;
      }
    }
  }

  .header__login-text:hover .header__login-svg-desc1 {
    fill: #4687b0;
  }

  .header__login-text:active .header__login-svg-desc1 {
    fill: #509ecd;
  }

  .header__login-svg-desc {
    display: block;
    margin-left: 4px;
    line-height: 0;
  }

  .header__login-svg-desc1 {
    fill: #305a7f;

  }

  .header__nav-main-item {
    font-size: 18px;
    border-bottom: rgba(254,238,126,.05) 1px solid;
  }

  .header__nav-additional-item {
    padding-left: 0;
    font-size: 18px;
    line-height: 43px;
    letter-spacing: 0;
    color: #fff;
  }

}

@media (min-width: @mediumWidth) {

  .header__phone-svg {
    display: none;
  }
  .header__phone-text {
    display: inline;

    font-family: 'cuprumbold', 'Arial', sans-serif;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.1em;

    color: #000;
    &:hover {
      color: #4687b0;
    }

  }

  .header__button {
    display: inline-block;

    margin-left: 20px;
    padding-left: 20px;
    padding-right: 18px;

    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0;
    color: #ffffff;

    background-color: #305a7f;
    border: 1px solid #305a7f;
    border-radius: 0 10px 10px;

    cursor: pointer;
    &:hover {
      background-color: #4687b0;
      transition: background-color 100ms linear;
    }
    &:active {
      background-color: #509ecd;
    }
  }

  .header__login-svg {
    display: none;
  }


  .header__login-text {
    display: flex;
    align-items: center;
    font-family: 'cuprumbold','Arial',sans-serif;
    font-size: 18px;
    letter-spacing: 0;
    color: #305a7f;
  }


  .header__in {
    .header__login {
      display: none;
    }
    .header__logined {
      .header__login-name{
        display: block;
        font-family: 'cuprumbold','Arial',sans-serif;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 0;
        color: #305a7f;
        transition: .3s;
        margin-left: 12px
      }
      &:hover .header__login-name{
        color: #4687b0;
      }
      &:active .header__login-name{
        color: #509ecd;
      }
    }
  }

  .fixed{
    .header__in{
      .header__nav{
        .header__logined {
          display: block;
        }
      }
    }
  }


  .header__nav-wrapper li a {
    padding-left: 0;
  }
  .header__nav-main-item {
    width: auto;
  }
  .header__nav-additional {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: transparent;
    padding: 0;
  }
  .header__wrapper {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 0;
    padding-left: 0;
    background-color: #fff;
  }
  .header__nav-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .header__nav-main-item + .header__nav-main-item {
    margin-left: 15px;
  }
  .header__nav-main-item {
    // width: 25%;
    padding-left: 0px;
  
    line-height: 30px;
    // font-weight: bold;

    color: #3c5778;
    background-color: #fff;
  }
  .header__nav-main-link,
  .header__nav-additional-link {
    // padding-left: 5px;

    &:hover {
      background-color: #ffffff;
      color: #4687b0;
    }

    // &:active {
    //   background-color: #f5ffed;
    //   color: #4896c0;
    // }
  }
  .header__nav-main-item + .header__nav-main-item {
    margin-left: 30px;
  }
  .header__nav-additional-item {
    // width: 16.65%;

    line-height: 30px;
    text-align: end;
    font-size: 16px;
    color: #838383;
    background-color: #fff;
  }
  .header__nav-additional-item + .header__nav-additional-item{
    margin-left: 50px;
  }
  .header__nav-additional-link {
    &:hover {
      background-color: #ffffff;
      color: #4687b0;
    }

    // &:active {
    //   background-color: #f5ffed;
    //   color: #4896c0;
    // }
  }
  .header__nav-main-item {
    &:first-child,
    &:nth-child(2){
      border-bottom: none;
    }
    &:first-child,
    &:nth-child(3){
      border-right: none;
    }
  }

  .header{
    &.fixed{
      background: white;
      padding: 15px 0;
      & + .main{
        margin-top: 100px;
      }
      .header__wrapper,
      .header__btn span{
        display: none;
      }
      .header__nav{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .logo{
          margin-right: 15px;
          line-height: 0;
        }
        .header__login{
          margin-left: auto;
          &-text{
            line-height: 0;
            .header__login-svg-desc svg{
              margin: 0;
              height: auto;
              width: 20px;
            }
          }
        }
        .header__logined {
          margin-left: auto;
        }
        .logo,
        .header__login{
          display: block;
        }
        .header__nav-wrapper{
          display: flex;
          justify-content: flex-end;
          align-items: center;
          .header__phone--nav,
          .header__btn {
            display: block;
          }
          .header__btn .header__phone-svg {
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .header__phone--nav{
            margin-left: 15px;
            color: #000000;
          }
          .header__nav-additional {
            margin-left: 20px;
          }
          .header__nav-additional-item{
            & + .header__nav-additional-item{
              margin-left: 15px
            }
          }
          .header__nav-main-item{
            & + .header__nav-main-item{
              margin-left: 15px
            }
          }

          .header__btn{
            background-color: @blue-bg;
            min-width: 30px;
            height: 30px;
            margin-left: 10px;
            border-radius: 0 10px 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            .header__phone-svg{
              svg {
                width: 14px;
              }
            }
            &:hover{
              background: #4687b0;
            }
          }
        }
      }
    }
  }
}




@media (min-width: @desctopWidth) {
  .header__nav-additional-item + .header__nav-additional-item{
    margin-left: 70px;
  }

  .header{
    &.fixed {
      .header__nav{
        .header__nav-wrapper{
          .header__nav-additional {
            margin-left: 30px;
          }

          .header__nav-additional-item {
            & + .header__nav-additional-item {
              margin-left: 30px
            }
          }

          .header__nav-main-item {
            & + .header__nav-main-item {
              margin-left: 30px
            }
          }
        }
      }

    }

  }
  .header.fixed .header__nav .header__nav-wrapper .header__phone--nav {
    margin-left: 40px;
  }
}




@media (max-width: 1278px) {
  .header__nav--opened {
    min-height: 87px;
  }

  .header__toggle-btn {
    position: absolute;
    right: 40px;
    top: -50px;

    display: block;
    cursor: pointer;



    &::before {
      content: "";
      position: absolute;
      top: 15px;
      left: 0;
      width: 28px;
      height: 14px;
      background: #324a67 url("../img/01-main-page/gamburger.png") center no-repeat;
    }
  }

  .header__nav--opened .header__toggle-btn {
    right: 34px;
    top: -51px;
  }

  .header__nav--opened .header__toggle-btn::before {


    width: 16px;
    height: 16px;
    background: #324a67 url("../img/01-main-page/cross.png") center no-repeat;
  }

  .header__nav--opened .header__nav-main {
    flex-direction: column;
    width: 100%;
  }

  .header__nav--opened li{
    line-height: 48px;
    width: 100%;
  }

  .header__nav--opened .header__nav-main-item {
    border-right: none;
    font-size: 16px;
    border-bottom: rgba(254,202,4,.05) 1px solid;
  }

  .header__nav--opened .header__nav-additional {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .header__nav--opened .header__nav-additional-item {
    border-bottom: rgba(254, 202, 4, .05) 1px solid;
    font-size: 16px;
    color: #9caec5;


    background-color: #466182;
  }

  .header .header__nav--opened .header__nav-wrapper {
    position: absolute;
    
    width: 100%;
    // max-width: 320px;
    // right: 0;
    padding-bottom: 24px;

    background-color: #466182;

        display: flex;
    flex-direction: column;
    align-items: center;

    overflow: auto;
    height: calc(100vh - 56px);
  }

  .header__nav--opened .header__phone--nav {
    display: block;
    margin: 19px auto 15px;
    font-family: cuprumbold,Arial,sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: #fff;

    &:hover {
      color: #ffd800;
    }
  }

  .header__nav--opened .header__btn {
    display: block;
  }
  .header__wrapper{
    justify-content: flex-end;
  }
  .header__wrapper .logo{
    margin-right: auto;
  }
}