//Trying to use desctop first here
//Write all styles for desctop
 // .main {
 //   * {
 //     outline: 1px solid red;
 //   }
 // }

.main__test {
  padding-top: 167px;
  background: transparent url("../img/01-main-page/main-test-bg-desc2.jpg") no-repeat center;
  background-size: cover;
}

.main__advantages {
  padding-top: 170px;
  //background: transparent url("../img/01-main-page/main-adv-bg.jpg") no-repeat center;
  background-size: cover;
  &--events {
    padding-top: 149px;
    padding-bottom: 80px;
    background:
            linear-gradient(90deg, @bg-color-white (@dot-space - @dot-size), transparent 1%) center,
            linear-gradient(@bg-color-white (@dot-space - @dot-size), transparent 1%) center,
            @dot-color;
    background-size: @dot-space @dot-space;
  }
}

//.main__advantages .main__advantages_lvl2{
//  background: url("../img/01-main-page/advantages-car.png") no-repeat left center;
//}

.main__howto {
  padding: 110px 0 20px;
  overflow: hidden;
  background:

          linear-gradient(90deg, @bg-color-blue (@dot-space - @dot-size), transparent 1%) center,
          linear-gradient(@bg-color-blue (@dot-space - @dot-size), transparent 1%) center,
          @dot-color-blue;

  background-size:  @dot-space @dot-space;
  .main-howto-pagination {
    display: none;
  }
}

.main__benefits {
  padding-top: 180px;
  padding-bottom: 145px;
  min-height: 900px;
  background:
   url("../img/01-main-page/benefits-car-bg2.png") no-repeat  center bottom -155px,
   url("../img/01-main-page/benefits-bg.jpg") no-repeat center;
  background-size: 683px 310px, cover;
}

.main__contacts {
  padding: 120px 0 150px;
  //min-height: 830px;
  background:

          linear-gradient(90deg, @bg-color-blue (@dot-space - @dot-size), transparent 1%) center,
          linear-gradient(@bg-color-blue (@dot-space - @dot-size), transparent 1%) center,
          @dot-color-blue;
  background-size: @dot-space @dot-space;
  .form__contacts-wrapper {
    .form__contacts-thanks {
      color: white;
    }
    .form__contacts-thanks-text {
      color: rgba(255, 255, 255, 0.7);
    }
  }
}

.main__form-test {
  padding-top: 75px;
  padding-bottom: 75px;
  background: url("../img/02-form-main/formpage-bg-small.png") no-repeat center;
  background-size: cover;
  &--kbm {
    background: url("../img/07-kbm/kbm-bg.png") no-repeat right 10% top 30%,
    url("../img/02-form-main/formpage-bg-small.png") no-repeat center;
    background-size: 606px 345px, cover;
    padding: 200px 0;
  }
  &--mot {
    background:
            linear-gradient(90deg, @bg-color-blue (@dot-space - @dot-size), transparent 1%) center,
            linear-gradient(@bg-color-blue (@dot-space - @dot-size), transparent 1%) center,
            @dot-color-blue;
    background-size: @dot-space @dot-space;
  }
}

.main--kasko-onepage .main__form-test {
  &--kbm {
    background: url("../img/13-kasko/kasko-bg.png") no-repeat right 10% top 50%,
    url("../img/02-form-main/formpage-bg-small.png") no-repeat center;
    background-size: 645px 262px, cover;
    padding: 200px 0;
  }
}

.main__form-test--kbm .main__btn{
  margin: 0;
}

.main__request {
  padding-bottom: 0;
  min-height: auto;
}


.main__reviews {
  padding-top: 145px;
  padding-bottom: 120px;
  min-height: 800px;
  background:
          linear-gradient(90deg, @bg-color-white (@dot-space - @dot-size), transparent 1%) center,
          linear-gradient(@bg-color-white (@dot-space - @dot-size), transparent 1%) center,
          @dot-color;
  background-size: @dot-space @dot-space;
}


.main__form-review {
  padding-top: 135px;
  padding-bottom: 135px;
  
  background:

          url('../img/01-main-page/slide2-bg1.png') no-repeat right 0% center,
          url('../img/01-main-page/slide3-bg2.png') no-repeat right 20% top 30%,
          linear-gradient(90deg, @bg-color-blue (@dot-space - @dot-size), transparent 1%) center,
          linear-gradient(@bg-color-blue (@dot-space - @dot-size), transparent 1%) center,
          @dot-color-blue;
  background-size: 25%, 20%, @dot-space @dot-space, @dot-space @dot-space;
  .form-btn-wrapper{
    margin-top: 40px;
  }
}

.main__contacts-wrapper {
  display: flex;
  justify-content: space-between;
}

.main__contacts-map {
  width: calc((100% - 25px) / 2);
}

.main__contacts-form-wrapper {
  width: calc((100% - 25px) / 2);
}

.main__contacts-slogan {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 50px;
  line-height: 62px;
  color: #fff;
}

.main__contacts-town {
  font-family: 'cuprumbold', 'Arial', sans-serif;
  font-size: 25px;
  line-height: 27px;
  color: @yellow-color;
}

.main__contacts-address {
  margin-top: 40px;
  font-family: 'robotolight', 'Arial', sans-serif;
  font-size: 20px;
  line-height: 26px;
  color: #fff;
}

.main__contacts-link {
  display: inline-block;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: .01em;
  color: @gray-color;
  border-bottom: 1px dashed @gray-color;
  &:hover{
    color: white;
    transition: .3s;
    border-bottom: none;
  }
}

.main__contacts-btn {
  padding: 12px 26px;
  margin-top: 90px;
  margin-bottom: 215px;
  font-size: 20px;
  border-radius: 0 15px 15px;
}

.main__contacts-form {
  margin-top: 75px;
}


.main__title {
  font-family: 'cuprumbold', 'Arial', sans-serif;
  line-height: 62px;
  font-size: 56px;
  &--nowidth {
    width: auto;
  }
  &--kbm {
    margin-bottom: 40px;
  }
  &--about {
    width: 100%;
    color: #ffffff;
  }
  &--about-partners {
    letter-spacing: -0.02em;
  }
}


.main__benefits-title {
  width: auto;
  text-align: center;
  font-size: 50px;
  .main__benefits-title--mobile {
    display: none;
  }
}

.main__benefits-info {
  width: 26.5%;
  margin-top: 75px;

  font-size: 18px;
  line-height: 25px;
}

.main__benefits-info:not(:first-child) {
  margin-left: 9%;
}
.main__benefits-info-title {
  display: block;

  font-family: 'cuprumbold', 'Arial', sans-serif;
  font-size: 30px;
  line-height: 30px;
}

.main__benefits-info-additional {
  display: block;

  margin-bottom: 35px;

  font-family: 'cuprumbold', 'Arial', sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #4e87cb;
}

.main__title--colored {
  top: 40px;
  width: 1180px;
  margin: 0 auto;

  font-family: 'Cuprum', 'Arial', sans-serif;
  color: #fff;
}

// Advantages//

.main__advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 58% ;// 803px/1390px

  &--events {
    width: 89.79%;
  }
  &--gifts {
    width: 100%;
    justify-content: flex-start;
  }
}

.main__advantages-wrapper {
  display: flex;
  justify-content: space-between;

  padding-bottom: 185px;
}

.main__advantages-picture {
  width: 41%; //567px/1390px
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main__advantages-img {
  left: -123px;
  margin-bottom: 50px;
  &--mot {
    left: -60px;
  }
}

.container--car {
  align-items: self-start;
  padding-bottom: 120px;
  background: url("../img/01-main-page/benefits-car-bg2.png") no-repeat right 0px bottom -150px;
  background-size: 700px 286px;
}
.container--mot {
  background: url("../img/08-mot/car-bg.png") no-repeat right -30px bottom -250px;
  background-size: 843px 402px;
  &-invisible {
    display: none;
  }

}
.main__advantages-wrapper--mot {
  justify-content: flex-start;

  background: none;
  background-size: unset;

  .request__step-list {
    margin-right: 165px;
  }
}

.main__howto-slider {
  width: calc(100% - 120px);
  margin-left: 120px;
  .slick-prev,
  .slick-next {
      border-radius: 50%;
      height: 40px;
      background: @yellow-color;
      &:hover, &:focus {
        background: linear-gradient(to right,#ffd800 15%,#fff602 50%,#ffd800);
      }
      &.slick-disabled {
        background: rgba(255, 216, 0, .5);
      }
  }
  .slick-list{
    overflow: visible !important;
  }
  .slick-prev {
      left: -120px;
      &:before {
        background-image: url("../img/icons/chevron-left.svg");
        margin-right: 4px;
    }
  }
  .slick-next {
    &:before {
        background-image: url("../img/icons/chevron-right.svg");
        margin-left: 4px;
    }
  }
}

.main__advantages-item-title {
  display: block;

  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 38px;
  line-height: 82px;

}
.main__advantages-item-title--special {
  color: @yellow-color;
}

.main__advantages-item {


  width: 44%; // 331px/803px = 41,2% a bit more))
  margin-bottom: 65px;

  font-size: 18px;
  line-height: 25px;
  &--events {
    margin-bottom: 60px;
  }
  &--gifts {
    width: 32.65%;
    margin-bottom: 50px;
    margin-right: 1%;
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
  &-flag-price {
    position: absolute;
    top: 0;
    left: 22px;
    display: flex;
    width: 105px;
    height: 55px;
    margin-top: -26px;
    background: url("../img/12-gifts/flag1.png") no-repeat center;
    z-index: 1;
    font-size: 26px;
    line-height: 24px;
    font-family: 'Cuprum', 'Arial', sans-serif;
    color: white;
    &-text {
        margin: auto auto;
      }
  }


}

.main__test-description {
  font-size: 36px;
  color: #325a7e;
}

.main__btn {
  padding: 20px 100px;
  margin-top: 60px;
  margin-bottom: 90px;

  font-size: 22px;

  border-radius: 0 20px 20px;
}

.main__test-info {
  display: flex;
  flex-direction: column;

  width: 230px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 20px;
  line-height: 27px;
}

.main--kasko {
  .main__test-info {
    width: 246px;
  }
}

.main__test-price {


  font-size: 152px;
  line-height: 152px;
  letter-spacing: -0.05em;
  color: @yellow-color;
}

.main__test-price-sign {
  font-size: 80px;
}

.main__test-wrapper {
  padding-bottom: 190px;
  &--kbm {
    padding-bottom: 0;
  }
}

.main__benefits-info-wrapper {
  display: flex;
}

@media (max-width: (@desctopWidth - 1px))  {
  .main__form-test {
    &--kbm {
      background: url("../img/07-kbm/kbm-bg.png") no-repeat right -10% top 30%,
      url("../img/02-form-main/formpage-bg-small.png") no-repeat center;
      background-size: 606px 345px, cover;
    }
  }



  .main__title {
    &--nowidth {
      width: auto;
    }
    &--colored {
        width: 1000px;
    }
  }

  .main__advantages-img {
    left: -30px;
    order: 2;
    margin: auto;
  }

  .main__benefits {
    padding-top: 140px;
  }

  .main__benefits-title {
    width: auto;
  }
  .main__advantages-wrapper--mot {

    .request__step-list {
      margin-right: 120px;
    }
  }

}


//Write all styles for tablet-desctop(less than 1280px)
@media (max-width: @mediumWidth)  {
  .main {
  }

  .main--kasko-onepage .main__form-test {
    &--kbm {
      background: url("../img/13-kasko/kasko-bg.png") no-repeat right -10% top 50%,
      url("../img/02-form-main/formpage-bg-small.png") no-repeat center;
      background-size: 645px 262px, cover;
      padding: 200px 0;
    }
  }
  .main__test-wrapper {
    padding-bottom: 0px;
  }
  .main__test {
    padding-top: 85px;
    //min-height: 482px;
  }

  .main__title {
    line-height: 45px;
    font-size: 45px;
    letter-spacing: -0.02em;
    margin-bottom: 370px;
    &--nowidth {
      width: auto;
    }
  }

  .main__advantages-wrapper {
    padding-bottom: 80px;
  }

  .main__title--colored {
    width: 1000px;
  }
//start making adaptive .main__benefits  section of index.html
  .main__benefits {
    padding-top: 60px;
    padding-bottom: 145px;
    min-height: auto;
  }
  .main__benefits-title {
    width: auto;
    margin-bottom: 15px;
    text-align: left;
  }
  .main__benefits-info-title {
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -0.01em;
  }
  .main__benefits-info-additional {
    font-size: 20px;
    line-height: 22px;
    letter-spacing: -0.01em;
  }

  .main__benefits-info-wrapper {
    flex-wrap: wrap;
    .main__benefits-info {
      width: 46%;
      margin-top: 30px;
      font-size: 14px;
      line-height: 19px;
      &:not(:first-child) {
        margin-left: 5%;
      }
      &:nth-child(2n+1) {
        margin-left: 0;
      }
      .main__benefits-info-additional {
        margin-bottom: 10px;
      }
    }

  }
  //start making adaptive .main__benefits  section of index.html
  .main__test-description {
    font-size: 30px;
  }

  .main__btn {
    padding: 10px 50px;
    margin-top: 20px;
    border-radius: 0 15px 15px;

  }

 .main__advantages-item {
   font-size: 14px;
   line-height: 18px;
 }
  .main__form-test--kbm{
    padding: 100px 0
  }
 .main__advantages-item-title {
   font-size: 22px;
   line-height: 34px;
   letter-spacing: -0.01em;
 }

  .main__advantages-wrapper--mot {

    .request__step-list {
      margin-right: 95px;
    }
  }

  //section .main__howto styles
  .main__howto-slider {
    width: 100%;
    margin-left: 0;
  }

  .main__howto-slider .slick-prev, .main__howto-slider .slick-next,
  .main__howto-slider .slick-prev, .main__howto-slider .slick-prev {
    right: -2000px;
  }
  //for all pages with .main__contacts-link class
  .main__contacts-link {
    font-size: 13px;
    line-height: 16px;
  }

//start adaptive style for last section .main-contacts in index.html
  .main__contacts {
    padding: 120px 0 80px;
    .main__contacts-address {
      width: 315px;
    }
    .main__contacts-slogan {
      font-size: 45px;
      line-height: 45px;
    }

    .main__contacts-link {
      font-size: 13px;
      line-height: 16px;
    }

    .form-btn-wrapper {
      flex-direction: column-reverse;
      flex-basis: 100px;
      justify-content: space-between;
      align-items: flex-start;
      margin-top: 45px;
    }


    .form__contacts-wrapper {
      .form__contacts-thanks {
        color: white;
      }
      .form__contacts-thanks-text {
        color: rgba(255, 255, 255, 0.7);
      }
    }
    .main__contacts-btn {
      margin-bottom: 20px;
    }
  }

//finish adaptive style for last section .main-contacts in index.html

}

//Write styles for tablet (less than 1024px)
@media (max-width: @lowWidth) {
  .main--kasko {
    .main__test-info {
      width: 200px;
    }
    .main__test-price-sign {
      font-size: 50px;
    }
  }
  .main--kasko-onepage .main__form-test {
    &--kbm {
      background: url("../img/13-kasko/kasko-bg.png") no-repeat right -40% top 50%,
      url("../img/02-form-main/formpage-bg-small.png") no-repeat center;
      background-size: 645px 262px, cover;
      padding: 200px 0;
    }
  }
  .main__test-price-sign {
    font-size: 55px;
  }
}

//Write all styles for mobile
@media (max-width: @tabletWidth) {

  .main__howto {


    .main-howto-pagination {
      display: block;
      width: 290px;
      margin: 0 auto;
      color: white;
      font-size: 14px;
      line-height: 20px;
    }
  }


  .main__test-info {
    flex-direction: row;




    font-size: 13px;
    line-height: 16px;


  }

  .main__test-price {
    width: 230px;

    font-size: 65px;
    line-height: 65px;
    letter-spacing: -0.05em;
    color: @yellow-color;
  }

  .main__test-price-sign {
    font-size: 40px;
  }
  .main__test-words {
    margin-top: 15px;
  }



  .main {
  }

  .main__test {
    padding-top: 50px;
    padding-bottom: 0;

    min-height: 425px;
    background: transparent url("../img/01-main-page/main-test-bg-mob.jpg") no-repeat center;
    background-size: cover;
  }

  .main__btn {
    order: 3;

    margin-bottom: 30px;
  }

  .main__title {
    order: 1;

    width: 290px;

    line-height: 30px;
    font-size: 30px;
    letter-spacing: -0.02em;
  }

  .main__test-description {
    font-size: 20px;
  }

  .main__test-info {
    order: 2;

    margin-top: 180px;

    background-color: rgba(187, 187, 187, 0.48);
  }

  .main__test-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 0;
  }

  .main__advantages-wrapper {
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
  }
  .main__advantages-list {
    display: block;
    //flex-direction: column;
    width: 100%;
  }
  .main__advantages-item {
    width: 100%;
    margin-bottom: 0;
  }
  .main__advantages {
    padding-top: 35px;
    .main__advantages-item-title {
      .main__advantages-item-title--special;
    }
  }
  .main__advantages-picture {
    width: 100%;
    margin-bottom: 10px;
  }
  .main__advantages-img {
    //left: 30px;
    margin-right: 0;
    width: 80%;
  }
  //start making adaptive .main__benefits  section of index.html
  .main__benefits {
    padding-top: 60px;
    padding-bottom: 80px;
    min-height: auto;
    background: url(../img/01-main-page/benefits-car-bg2.png) no-repeat center bottom -50px,
                url(../img/01-main-page/benefits-bg.jpg) no-repeat center;
    background-size: 270px 100px,cover;

  }
  .main__benefits-title {
    width: auto;
    margin-bottom: 15px;
    text-align: left;
    .main__benefits-title--mobile {
      display: block;
    }
    .main__benefits-title--notmobile {
      display: none;
    }
  }
  /*.main__benefits-info-title {
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -0.01em;
  }
  .main__benefits-info-additional {
    font-size: 20px;
    line-height: 22px;
    letter-spacing: -0.01em;
  }*/

  .main__benefits-wrapper {
    padding: 0 10px;
  }
  .main__benefits-info-wrapper {
    flex-wrap: wrap;
    flex-direction: column;

    .main__benefits-info {
      width: 100%;
      margin-top: 30px;
      font-size: 14px;
      line-height: 19px;
      &:not(:first-child) {
        margin-left: 0%;
      }
      &:nth-child(2n+1) {
        margin-left: 0;
      }
      .main__benefits-info-additional {
        margin-bottom: 10px;
      }
    }

  }
  //finish making adaptive .main__benefits  section of index.html

  //start adaptive style for last section .main-contacts in index.html
  .main__contacts {
    padding: 60px 0 60px;
    .main__contacts-map,
    .main__contacts-form-wrapper {
      width: 290px;
    }
    .main__contacts-wrapper {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
    }
    .main__contacts-town {
      line-height: 18px;
      font-size: 18px;
    }
    .main__contacts-link {
      font-size: 13px;
      line-height: 16px;
    }
    .main__contacts-address {
      width: 210px;
      font-size: 14px;
      line-height: 18px;
    }
    .main__contacts-slogan {
      font-size: 30px;
      line-height: 30px;
      &.form__contacts-slogan--color {
        margin-bottom: 40px;
      }
    }

    .form-btn-wrapper {
      flex-direction: column-reverse;
      flex-basis: 100px;
      justify-content: space-between;
      align-items: center;
      margin-top: 45px;
    }


    .form__contacts-wrapper {
      .form__contacts-thanks {
        color: white;
        line-height: 18px;
        font-size: 14px;
      }
      .form__contacts-thanks-text {
        margin-bottom: 50px;
        line-height: 18px;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.7);
      }
      .form__contacts__btn {
        left: 50%;
        margin-left: -110px;
      }
    }
    .main__contacts-form {
      margin-top: 40px;
    }
    .main__contacts-btn {
      margin-bottom: 80px;
      margin-top: 45px;
      left: 50%;
      margin-left: -110px;
    }
  }
  //finish adaptive style for last section .main-contacts in index.html
  
  //global styles for page reviews
  .main__reviews{
    padding: 60px 15px;
  }
  
  //global styles for page kbm
  .main__form-test.main__form-test--kbm{
    background: url(../img/07-kbm/kbm-bg.png) no-repeat right -10% top 35%,url(../img/02-form-main/formpage-bg-small.png) no-repeat center;
    background-size: 275px 170px,cover;
    padding: 60px 15px;
  }
  .main__title--kbm{
    order: 0;
    width: 100%;
    margin-bottom: 220px;
  }
  .main__form-test--kbm .main__advantages-item{
    order: 4;
    margin-top: 60px;
  }
  
  //global styles for gift page
  .main__advantages-item--gifts{
    margin-bottom: 40px;
    img{
      width: 100%;
    }
  }
  
  //global styles for mot page
  .main__form-test.main__form-test--mot{
    background: linear-gradient(90deg,#273c55 33px,transparent 1%) center,linear-gradient(#273c55 33px,transparent 1%) center,#526377;
    background-size: 35px 35px;
  }
}

//first screen is finished