//Write all styles for desktop


.request__form {
  position: relative;
  width: 492px;
  padding: 55px 85px;
  //padding-bottom: 52px;

  background-color: #fff;
  box-shadow: 0 10px 28px 0 rgba(54,80,107,.5);
  border-radius: 20px;

  &--mot2 {
    //width: 500px;
    padding-bottom: 10px;
  }
  &--mot-invisible {
    display: none;
  }
}

.request__title {
  font-family: 'cuprumbold', 'Arial', sans-serif;
  font-size: 45px;
  &--mot {
    font-size: 43px;
    line-height:  50px;
    margin-bottom: 0;
  }
}

.request__text {
  width: 85%;
  padding-right: 30px;
  margin-bottom: 10px;

  font-size: 18px;

  &--mot {
    margin-bottom: 50px;
    width: 100%;
  }
  &--mot1 {
    width: 100%;
  }
  &--mot-grey {
    color: @gray-color;
  }
}

.request__input-wrapper {
  margin-bottom: 40px;
}

.request__input {
  padding: 16px 40px 16px 15px;
  font-size: 20px;
  line-height: 22px;

  &::placeholder {
    // font-size: 20px;
    // line-height: 22px;
    color: #325a7e;
  }
  &.mask--text {
    text-transform: uppercase;
  }
}

.request__input-svg-wrapper {
  right: 20px;
  left: auto;
  z-index: 1;

  width: 22px;
  height: 22px;

  &::before {
    content: "Ваши данные защищены";
    position: absolute;
    top: 30px;
    left: 20px;
    z-index: 2;
    display: none;
    width: 235px;
    padding: 6px 20px;
    font-size: 16px;
    font-family: 'Roboto', 'Arial', sans-serif;
    line-height: 30px;
    color: #828282;
    border: 1px solid #888;
    background-color: #fff;
  }
  &:hover::before {
    display: inline-block;
  }
}
.request__input-svg .modal__pass-svg1 {
  fill: @gray-color;
}

.request__btn {
  /* display: block; */
  width: 100%;
  /* margin: 0 auto; */
  /* padding: 15px 40px; */
  font-size: 22px;
  font-family: 'Cuprum', 'Arial', sans-serif;

  &--mot {
    width: 300px;
    margin-top: 27px;
  }
  &.request__btn--text-center {
    text-align: center;
  }
}



.request__mark-link {
  font-size: 20px;
  line-height: 30px;

  &--mot {
    font-size: 23px;
    font-family: 'cuprumbold', 'Arial', sans-serif;
    color: @yellow-color;
    &:hover {
      color: #ffbf10;
      transition: 0.3s;
    }
  }
}

.request__step-list {
  width: 590px;
  margin-right: 95px;
  &--mot {
    width: 640px;
    color: #ffffff;
  }
}
.request__step-list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 55%;

}

.request__step-item {
  width: 237px;
  margin-bottom: 10px;
  &:first-child,
  &:nth-child(2) {
    padding-top: 135px;
    margin-bottom: 95px;
    &::before {
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -103px;
      content: '';
      display: block;

      width: 207px;
      height: 113px;
      background: url("../../img/06-osago-request/request-price.png") no-repeat center;
    }
  }
  &:nth-child(2)::before {
    background: url("../../img/06-osago-request/request-gift.png") no-repeat center;
  }
}

.request__step-list--mot .request__step-item {
  width: 280px;
  &::before {
    content: none;
  }
  &:first-child,
  &:nth-child(2) {
    padding-top: 45px;
    margin-bottom: 65px;
  }
}



.request__step-item-title {
  display: block;

   font-family: 'cuprumbold','Arial',sans-serif;
   font-size: 28px;
   line-height: 30px;
}

.request__step-item-text {
  line-height: 21px;
  &--mot {
    color: rgba(255, 255, 255, 0.77);
  }
}

//Write all styles for big-tablet and small desktop
@media (max-width: @desctopWidth)  {
  .request {}
}

//Write all styles for tablet
@media (max-width: @mediumWidth)  {
  .request {
    .main__advantages-wrapper {
        padding-bottom: 130px;
    }
    .request__step-list {
        margin: 0 auto;
        width: 510px;
        .main__advantages-item{
          font-size: 16px;
        }
    }
    .request__step-item{
      width: calc((100% - 20px) / 2);
    }
    .request__step-item:first-child::before,
    .request__step-item:nth-child(2)::before{
      background-size: contain;
      margin-left: 0;
      left: 0;
    }
    .request__step-item:first-child::before{
      width: 175px;
      height: 82px;
    }
    .request__step-item:nth-child(2)::before{
      width: 84px;
      height: 90px;
    }
    .request__form {
      min-width: 400px;
      width: 400px;
      padding: 50px 30px;
    }
  }
}

@media (max-width: @lowWidth)  {
  .request {
    &.main__request{
      padding-top: 50px;
    }
    .request__step-list--mot {
      padding-left: 30px;
      max-width: 510px;
      width: 100%;
    }
    .request__step-item:first-child::before{
          width: 138px;
      height: 65px;
          top: 10px;
    }
    .request__step-item:nth-child(2)::before{
      width: 70px;
      height: 75px;
    }
    .request__step-item:first-child,
    .request__step-item:nth-child(2) {
        padding-top: 110px;
        margin-bottom: 40px;
    }
    .modal__form{
      text-align: center;
    }
    .request__btn{
      width: auto;
      margin: 0 auto;
      padding: 12px 50px;
    }
    .request__mark-link {
        font-size: 18px;
        line-height: 18px;
    }
    .request__input {
        padding: 12px 40px 12px 15px;
        font-size: 18px;
        line-height: 20px;
    }
    .request__form {
      min-width: inherit;
      width: 100%;
      padding: 30px 16px;
    }
    .request__text {
      width: 100%;
      font-size: 16px;
      margin-bottom: 12px;
      text-align: center;
    }
    .request__title {
        font-size: 36px;
            line-height: 36px;
    }
    .request__wrapper--mot{
      width: 320px;
    }
    .request__step-list-wrapper{
      width: calc(100% - 320px);
    }
    .request__form-wrapper{
      width: 380px;
      margin-left: 30px;
    }
    .request__text--mot1{
      text-align: left;
    }
    .request__form--mot2{
      min-width: 380px;
    }
  }
}

//Write all styles for mobile
@media (max-width: @tabletWidth) {
  .request {
    .request__step-list{
      padding-left: 0;
      width: auto;
      margin: 60px auto 0;
    }
    .request__step-item-title {
        font-size: 18px;
        line-height: 24px;
    }
    .request__step-item-text{
      font-size: 14px;
      line-height: 16px;
    }
    .request__step-item:first-child::before{
          width: 107px;
      height: 50px;
    }
    .request__step-item:nth-child(2)::before{
      width: 55px;
      height: 60px;
    }
    .main__advantages-list {
        display: flex;
        width: 100%;
    }
    .request .request__step-item {
        width: calc((100% - 16px)/2);
    }
    .container--car {
        padding-bottom: 95px;
        background-position: center bottom -75px;
        background-size: 320px 155px;
    }
    .request__step-item:first-child,
    .request__step-item:nth-child(2) {
        padding-top: 80px;
    }
    .request__form{
      width: 100%;
    }
    .request__wrapper--mot{
      width: 100%;
    }
    .request__step-list-wrapper{
      width: 100%;
    }
    .request__form-wrapper{
      width: 100%;
      margin-left: 0;
    }
    .main__contacts-slogan.form__contacts-slogan{
      width: 100%;
    }
    .request__form--mot2{
      min-width: inherit;
    }
    .request__text--mot1{
      padding-right: 0;
    }
  }
}