@font-face {
  font-family: 'cuprumbold';
  src: url('../fonts/cuprum/cuprum-bold-webfont.woff2') format('woff2'),
  url('../fonts/cuprum/cuprum-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'cuprumbold_italic';
  src: url('../fonts/cuprum/cuprum-bolditalic-webfont.woff2') format('woff2'),
  url('../fonts/cuprum/cuprum-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'cuprumitalic';
  src: url('../fonts/cuprum/cuprum-italic-webfont.woff2') format('woff2'),
  url('../fonts/cuprum/cuprum-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/cuprum/cuprum-regular-webfont.woff2') format('woff2'),
  url('../fonts/cuprum/cuprum-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/roboto-regular-webfont.woff2') format('woff2'),
  url('../fonts/roboto/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'robotolight';
  src: url('../fonts/roboto/roboto-light-webfont.woff2') format('woff2'),
  url('../fonts/roboto/roboto-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'robotomedium';
  src: url('../fonts/roboto/roboto-medium-webfont.woff2') format('woff2'),
  url('../fonts/roboto/roboto-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/** {
  outline: 1px solid red;
}*/

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
}

img {
  max-width: 100%;
  height: auto;
}
input{
  border: none;
  outline: none;
  width: 100%;
}
body {
  font-family: 'Roboto', 'Arial', sans-serif;
  //font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

h1 {
  color: red;
}

.container {
  margin: 0 auto;
  padding: 0;
}
.overflow-hidden{
  overflow: hidden !important;
}
@media (min-width: @tabletWidth){
  .container {
    margin: 0 auto;
    padding: 0 16px;
    &--form {
      padding-bottom: 1px;
    }

    &--header {
      padding: 0;
    }
  }
}

// @media (max-width: @mediumWidth){
//   .container {
//     width: 992px;
//     margin: 0 auto;
//     padding: 0 15px;
//   }
// }

@media (min-width: @mediumWidth){
  .container {
    width: 1260px;
    margin: 0 auto;
    padding: 0 24px;
    &--form {
      padding-bottom: 1px;
    }
  }
}

@media (min-width: @desctopWidth){
  .container {
    width: 1420px;
    margin: 0 auto;
    padding: 0 24px;
    &--form {
      padding-bottom: 1px;
    }
  }

}

@media (max-width: @tabletWidth) {
  .form-footer-hide .footer {
    display: none;
  }
}
