<header class="header">
	<!-- add/delete class ".header__in" to show logined user name and avatar in menu-->
	<div class="container container--header">
		<h1 class="visually-hidden">Страховой магазин ИНГЛАВСТРАХ</h1>
		<div class="header__wrapper">
			<a class="logo" href="index.html">
				<span class="logo__svg">
					<include src="build/img/01-main-page/logo.svg"></include>
				</span>
				<span class="logo__text">
					<include src="build/img/01-main-page/logo-text.svg"></include>
				</span>
			</a>
			<div class="header__tel-items">
				<a class="header__phone" href="tel:+7473288507">
					<span class="header__phone-svg">
						<include src="build/img/01-main-page/phone.svg"></include>
					</span>
					<span class="header__phone-text">+7 (473) 22-88-507</span>
				</a>
				<button class="btn--small header__button">Заказать звонок</button>
			</div>

			<div>
				<a class="header__logined" href="cabinet.php">
					<span class="header__login-avatar header__login-avatar--show" style="background-image: url('img/04-reviews/user-pic-small.png');"></span>
					<span class="header__login-name">Александр</span>
				</a>
				<a class="header__login" href="#">
					<include src="build/img/01-main-page/user.svg"></include>
					<span class="header__login-text">Войти
						<span class="header__login-svg-desc">
							<include src="build/img/01-main-page/sign-in.svg"></include>
						</span>
					</span>
				</a>
			</div>
		</div>

		<nav class="header__nav">
			<a class="logo" href="index.html">
				<span class="logo__svg">
					<include src="build/img/01-main-page/logo.svg"></include>
				</span>
			</a>
			<div class="header__nav-wrapper">
				<ul class="header__nav-main">
					<li class="header__nav-main-item"><a href="full-request.html" class="header__nav-main-link"> Рассчитать ОСАГО </a></li>
					<li class="header__nav-main-item"><a href="request.html" class="header__nav-main-link"> Оформить ОСАГО</a></li>
					<li class="header__nav-main-item"><a href="kbm.html" class="header__nav-main-link"> Проверить КБМ</a></li>
					<li class="header__nav-main-item"><a href="MOT.html" class="header__nav-main-link"> Пройти техосмотр</a></li>
				</ul>
				<ul class="header__nav-additional">
					<li class="header__nav-additional-item"><a href="about.html" class="header__nav-additional-link">О нас</a></li>
					<li class="header__nav-additional-item"><a href="reviews.html" class="header__nav-additional-link">Отзывы</a></li>
					<li class="header__nav-additional-item"><a href="contacts.html" class="header__nav-additional-link">Контакты</a></li>
					<li class="header__nav-additional-item"><a href="kasko-main.html" class="header__nav-additional-link">КАСКО</a></li>
					<li class="header__nav-additional-item"><a href="gifts.html" class="header__nav-additional-link">Подарки</a></li>
					<li class="header__nav-additional-item"><a href="events.html" class="header__nav-additional-link">Акции</a></li>
				</ul>
				<a class="header__phone--nav" href="tel:+7473288507">
					<span class="header__phone-text--nav">+7 (473) 22-88-507</span>
				</a>
				<button class="btn header__btn">
					<span class="header__phone-svg">
						<include src="build/img/01-main-page/phone.svg"></include>
					</span>
					<span>Заказать звонок</span>
				</button>
			</div>
			<a class="header__logined" href="cabinet.php">
				<span class="header__login-avatar header__login-avatar--show" style="background-image: url('img/04-reviews/user-pic-small.png');"></span>
			</a>
			<a class="header__login" href="#">
				<span class="header__login-text">
					<span class="header__login-svg-desc">
						<include src="build/img/01-main-page/sign-in.svg"></include>
					</span>
				</span>
			</a>

			<button class="header__toggle-btn" type="button"></button>
		</nav>
	</div>
</header>
