<section class="main__advantages">
	<div class="container main__advantages-wrapper">
		<div class="main__advantages-picture">
			<h2 class="main__title main__title--nowidth">Почему мы?</h2>
			<img class="main__advantages-img" src="img/01-main-page/advantages-car.png" alt="car-and-pillow">
		</div>
		<ul class="main__advantages-list main__advantages-list--slider">
			<li class="main__advantages-item main__advantages-item--slide">
				<span class="main__advantages-item-title main__advantages-item-title--special">Полис за 10 минут</span>
				Скоростное оформлениеи вашего полиса ОСАГО Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			</li>
			<li class="main__advantages-item main__advantages-item--slide">
				<span class="main__advantages-item-title">Система бонусов</span>
				Имеем широкий территориальный охват Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			</li>
			<li class="main__advantages-item main__advantages-item--slide">
				<span class="main__advantages-item-title">4 года опыта</span>
				Гарантируем профессионализм специалистов при оформлении, а также обслудивание сделок в собственном колл-центре Lorem ipsum dolor sit amet, consectetur adi
			</li>
			<li class="main__advantages-item main__advantages-item--slide">
				<span class="main__advantages-item-title">Более 50 отделений</span>
				Имеем систему баллов и скидок Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			</li>
		</ul>
	</div>
</section>